services:
  - type: web
    name: PharmaConnect
    env: python
    region: us
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: FLASK_ENV
        value: production
